.transportadora-container {
  width: 650px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 18px;
  background: #f8eaff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transportadora-container h2 {
  margin-bottom: 20px;
  color: #551f5c;
}

.controle-combustivel {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-bottom: 20px;
}

.input-combustivel {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-combustivel {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  background-color: #411f5c;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-combustivel:hover {
  background-color: #2d143d;
  box-shadow: 0 6px 18px rgba(20, 40, 61, 0.25);
}

.btn-combustivel:active {
  transform: scale(0.97);
}

.status-combustivel {
  margin-top: 18px;
  font-size: 16px;
  color: #333;
}